html, body {
    margin: 0;
    padding: 0
}

body {
    background: linear-gradient(#0A1C2D, #192D3C);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Jost, sans-serif
}

img {
    width: 100%;
    max-width: 275px;
    margin: 0 0 16px
}

.title {
    font-weight: 700;
    margin: 0 0 16px;
    text-align: center
}

.text {
    color: #BAC0C5;
    font-size: 14px;
    margin: 0 0 8px;
    text-align: center;
    line-height: 1.4
}

.text-button {
    margin: 0 0 16px;
    text-align: center
}

.text-button a {
    display: inline-block;
    background: #6AE257;
    color: #062800;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: underline dotted
}

.subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 4px
}